body{
    background-color: #12131A;
    color: white;
}

.nav {
    background: linear-gradient(to right, black, grey);
    border: 5px solid black;
    border-radius: 60px;
    height: 100px;
    width: 95%;
    margin-top: 30px;
    margin-left: 35px;
    box-shadow: 1000px;
    display: flex;
}