{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
    <title>Document</title>
   
</head>
<body>
    
    <div class="nav">
        <div class="title">
            <h1 class='t1'>AGILITY</h1>
            <h1 class='t2'>ATLAS</h1>
        </div>
        <a href="{% url 'index' %}" class="home" style="text-decoration: none; color: white; font-size: 24px;">Home</a>
        <a href="#about" class="aboutus" style="text-decoration: none; color: white; font-size: 24px;">About Us</a>
        <a href="#service" class="service" style="text-decoration: none; color: white; font-size: 24px;">Service</a>
        <a href="#contact" class="contact" style="text-decoration: none; color: white; font-size: 24px;">Contact</a>
    </div>

    {% comment %} contact {% endcomment %}
    <div class="contact-tab" id="contact">
        <div class="cont">
            <h1>Contacts</h1>
            <img style="margin-left: 100px;" src="{% static 'images/contact.png' %}" alt="age" width="230px" class="">
        </div>
        <div class="cont-detail">
            <div style="display: flex; margin-top: 20px;">
                <img style="margin-top: 20px;" src="{% static 'images/loc.png' %}" alt="age" width="70px" height="70px">
                <div style="margin-left: 20px;">
                    <h1>Address</h1>
                    <p>Yeshwentrao chavan college of engineering</p>
                </div>
            </div>

            <div style="display: flex; margin-top: 20px;">
                <img src="{% static 'images/phone.png' %}" alt="age" width="70px" height="70px" class=""
                    style="margin-top: 20px;">
                <div style="margin-left: 20px;">
                    <h1>Phone Number</h1>
                    <p>+91-8719671717</p>
                </div>
            </div>

            <div style="display: flex; margin-top: 30px;">
                <img src="{% static 'images/mail.png' %}" alt="age" width="70px" height="70px" class="">
                <div style="margin-left: 30px; margin-top: 10px;">
                    <h1 style="margin: 0%;">E-mail</h1>
                    <a href="mailto:agilityatlas@gmail.com">agilityatlas@gmail.com</a>
                </div>
            </div>
            <div style="margin-top: 30px; margin-left: 50px;">
                <img style="margin-left: 10px;" src="{% static 'images/fb.png' %}" alt="age" width="50px" class="">
                <img style="margin-left:20px;" src="{% static 'images/insta.png' %}" alt="age" width="50px" class="">
                <img style="margin-left: 20px;" src="{% static 'images/x.png' %}" alt="age" width="50px" class="">

            </div>
        </div>
    </div>
    </div>
    
</body>
</html>





