{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    <div class='App'>
        <div class="nav">
            <div class="title">
                <h1 class='t1'>AGILITY</h1>
                <h1 class='t2'>ATLAS</h1>
            </div>
            <a href="{% url 'index' %}" class="home" style="text-decoration: none; color: white; font-size: 24px;">Home</a>
            <a href="{% url 'about' %}" class="aboutus" style="text-decoration: none; color: white; font-size: 24px;">About Us</a>
            <a href="{% url 'service' %}" class="service" style="text-decoration: none; color: white; font-size: 24px;">Service</a>
            <a href="{% url 'contact' %}" class="contact" style="text-decoration: none; color: white; font-size: 24px;">Contact</a>
        </div>
        <div>
    <section>
        <div class="image-recg">
            <img src="{% static 'images/insta.png' %}" alt="age" width="200px" class="plant-img">
            <h1>Image to name</h1>
            <p>Here you are going check the plant name by their names</p>
            <button>Check Image</button>
        </div>
        <div class="info">
            <img src="{% static 'images/insta.png' %}" alt="age" width="200px" class="plant-img">
            <h1>Plant information</h1>
            <p>Here you are going check the plant name by their names</p>
            <button>More info</button>
        </div>
        <div class="disease">
            <img src="{% static 'images/insta.png' %}" alt="age" width="200px" class="plant-img">
            <h1>Disease Prevention</h1>    
            <p>Here you are going check the plant name by their names</p>
            <a href="{% url 'medicine' %}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-left: 50px;">Get Medicine</a>

        </div>
    </section>
            
</body>
</html>