<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Agility Atlas</title>
</head>
<body>
    <div class='App'>
        <div class="nav">
            <div class="title">
                <h1 class='t1'>AGILITY</h1>
                <h1 class='t2'>ATLAS</h1>
            </div>
            <h1 class="home">Home</h1>
            <h1 class="aboutus">About Us</h1>
            <h1 class="service">Service</h1>
            <h1 class="contact">Contact</h1>
        </div>
        <div>
            <div class="welcome-container">
                <br />
                <section class="main">
                    <div class="get_start">
                        <container>
                            <div>
                                <img src="/images/title.jpg" alt="" class="title-img" />
                                <p class="start-line">
                                    Experience personalized health guidance and expert fitness
                                    <br />
                                    training at Agility Atlas. With tailored programs and expert
                                    <br />
                                    coaches, achieve your fitness goals efficiently and
                                    effectively.
                                </p>
                                <div class="flex">
                                    <button class="start-btn">LET'S START</button>
                                    <img src="/images/bumbell.jpg" alt="" class="dumbell" />
                                </div>
                            </div>
                        </container>
                    </div>

                    <div class="health-img">
                        <img src="/images/heart.jpg" alt="" width="400" class="" />
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
