{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <title>Agility Atlas</title>
</head>

<body>
    <div class='App'>
        <div class="nav">
            <div class="title">
                <h1 class='t1'>AGILITY</h1>
                <h1 class='t2'>ATLAS</h1>
            </div>
            <a href="{% url 'index' %}" class="home" style="text-decoration: none; color: white; font-size: 24px;">Home</a>
            <a href="#about" class="aboutus" style="text-decoration: none; color: white; font-size: 24px;">About Us</a>
            <a href="#service" class="service" style="text-decoration: none; color: white; font-size: 24px;">Service</a>
            <a href="#contact" class="contact" style="text-decoration: none; color: white; font-size: 24px;">Contact</a>
        </div>
        <div>
            <div class="welcome-container">
                <br />
                <section class="main">
                    <div class="get_start">
                        <container>
                            <div>
                                <div class="title-img">
                                    <img src="{% static 'images/title.jpg' %}" alt="Example Image">
                                </div>
                                <p class="start-line">
                                    Experience personalized health guidance and expert fitness
                                    <br />
                                    training at Agility Atlas. With tailored programs and expert
                                    <br />
                                    coaches, achieve your fitness goals efficiently and
                                    effectively.
                                </p>
                                <div class="btn-dumb">
                                    <a href="login" class="start-btn">Get Started </a>
                                </div>
                            </div>
                        </container>
                    </div>

                    <div>
                        <img src="{% static 'images/plant.jpg' %}" alt="age" width="400px" class="plant-img">
                    </div>
                </section>
            </div>
        </div>
    </div>

    </div>
    <div class="about-container" id="about">
        <h1>About Us</h1>
        <section class="mis-vis">

            <div class="mission">
                <h1 class="head">Mission</h1>
                <p>To revolutionize Ayurvedic Pharmaceutics by developing innovative solutions for the accurate
                    identification of medicinal plants and raw materials through advanced Image Processing and Machine
                    Learning Algorithms. Our mission is to address the challenges of misidentification, adulteration,
                    and substitution in the medicinal plant industry, ensuring the supply chain integrity and fostering
                    trust in the curative potential of traditional medicine.</p>
            </div>
            <div class="vision">
                <h1 class="head">Vision</h1>
                <p>We envision a future where the identification of medicinal plants and raw materials is seamless and
                    accurate, contributing to the preservation of India's rich floral diversity. Our vision is to
                    empower stakeholders in the Ayurvedic pharmaceutical industry, from collectors and traders to
                    wholesalers and distributors, with a cutting-edge software solution. By leveraging technology, we
                    aim to enhance the sustainability of medicinal plant resources, eliminate malpractices, and promote
                    the growth of the MedTech/BioTech/HealthTech sector in India. Our commitment lies in creating a
                    positive impact on the healthcare industry, fostering a harmonious coexistence between traditional
                    wisdom and modern technology.</p>
            </div>
        </section>
        <section class="tar-core">
            <div class="core">
                <h1 style="text-align: center;" class="head">Core Values</h1>
                <div style="display: flex; margin:50px;">
                    <div>
                        <img src="{% static 'images/plant.jpg' %}" alt="age" width="100px"
                            style="border-radius: 50%; margin-left: 30px;">
                        <h3>Integrity</h3>
                    </div>
                    <div>
                        <img src="{% static 'images/plant.jpg' %}" alt="age" width="100px"
                            style="border-radius: 50%; margin-left: 30px;">
                        <h3>Innovation</h3>
                    </div>
                    <div>
                        <img src="{% static 'images/plant.jpg' %}" alt="age" width="100px"
                            style="border-radius: 50%;margin-left: 30px;">

                        <h3>Sustainability</h3>
                    </div>
                    <div>
                        <img src="{% static 'images/plant.jpg' %}" alt="age" width="100px"
                            style="border-radius: 50%;margin-left: 30px;">

                        <h3>Collaboration</h3>
                    </div>
                    <div>
                        <img src="{% static 'images/plant.jpg' %}" alt="age" width="100px"
                            style="border-radius: 50%; margin-left: 20px;">

                        <h3>Impact</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="target">
                    <h1 class="head">Target Market</h1>
                    <p>
                        The target market for the software includes Ayurvedic pharmaceutical companies, wholesalers,
                        distributors, MedTech/BioTech/HealthTech sector, herbal extract manufacturers, research
                        institutions,
                        government agencies, ethical harvesters, and educational institutes in India. The software
                        addresses the
                        challenge of misidentification, adulteration, and substitution of medicinal plants, ensuring
                        authenticity and quality across the supply chain.</p>
                </div>

        </section>
    </div>

    <div class="service-tab" id="service">
        <h1 style="text-align: center;">Our Services</h1>
        <img src="{% static 'images/plant.jpg' %}" alt="age" class="service-img">
        <div class="ser-tab">
            <div class="ser1">
                <img src="{% static 'images/plant.jpg' %}" alt="age" width="200px" class="ser-img">
                <h1>Accurate Plant Identification</h1>
                <p>Utilizing advanced Image Processing and Machine Learning, our software ensures precise identification
                    of medicinal plants and raw materials, eliminating the risk of misidentification in the supply chain
                </p>
            </div>
            <div class="ser2">
                <img src="{% static 'images/plant.jpg' %}" alt="age" width="200px" class="ser-img">
                <H1>Quality Assurance Verification</H1>
                <p>Implementing a robust quality assurance system to verify the purity and quality of medicinal plant
                    raw materials, providing assurance to manufacturers, wholesalers, and distributors</p>
            </div>
        </div>
        <div class="ser-tab">
            <div class="ser3">
                <img src="{% static 'images/plant.jpg' %}" alt="age" width="200px" class="ser-img">
                <h1>Supply Chain Integrity</h1>
                <p>Enhancing supply chain integrity by offering a reliable tool for authenticating and tracing the
                    origin of medicinal plant resources, ensuring transparency and reliability for stakeholders</p>
            </div>
            <div class="ser4">
                <img src="{% static 'images/plant.jpg' %}" alt="age" width="200px" class="ser-img">
                <h1>Educational Support</h1>
                <p>Serving as an educational tool for professionals and students in the Ayurvedic pharmaceutical sector,
                    facilitating learning about medicinal plant morphology and attributes for improved knowledge and
                    expertise</p>
            </div>
        </div>
    </div>

    <div class="contact-tab" id="contact">
        <div class="cont">
            <h1>Contacts</h1>
            <img style="margin-left: 100px;" src="{% static 'images/contact.png' %}" alt="age" width="230px" class="">
        </div>
        <div class="cont-detail">
            <div style="display: flex; margin-top: 20px;">
                <img  style="margin-top: 20px;" src="{% static 'images/loc.png' %}" alt="age" width="70px" height="70px">
                <div style="margin-left: 20px;">
                    <h1>Address</h1>
                    <p>Yeshwentrao chavan college of engineering</p>
                </div>
            </div>

            <div style="display: flex; margin-top: 20px;">
                <img src="{% static 'images/phone.png' %}" alt="age" width="70px" height="70px" class="" style="margin-top: 20px;">
                <div style="margin-left: 20px;">
                    <h1>Phone Number</h1>
                    <p>+91-8719671717</p>
                </div>
            </div>

            <div style="display: flex; margin-top: 30px;">
                <img src="{% static 'images/mail.png' %}" alt="age" width="70px" height="70px" class="">
                <div style="margin-left: 30px; margin-top: 10px;">
                    <h1 style="margin: 0%;">E-mail</h1>
                    <a href="mailto:agilityatlas@gmail.com">agilityatlas@gmail.com</a>
                </div>
            </div>
            <div style="margin-top: 30px; margin-left: 50px;">
                <img style="margin-left: 10px;" src="{% static 'images/fb.png' %}" alt="age" width="50px" class="">
                <img style="margin-left:20px;" src="{% static 'images/insta.png' %}" alt="age" width="50px" class="">
                <img style="margin-left: 20px;" src="{% static 'images/x.png' %}" alt="age" width="50px" class="">

            </div>
        </div>
    </div>
    </div>
 
    <script src="app.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
    // Add smooth scrolling to all links
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
});

    </script>

</body>

</html>