{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    <div class='App'>
        <div class="nav">
            <div class="title">
                <h1 class='t1'>AGILITY</h1>
                <h1 class='t2'>ATLAS</h1>
            </div>
            <a href="{% url 'index' %}" class="home" style="text-decoration: none; color: white; font-size: 24px;">Home</a>
            <a href="{% url 'about' %}" class="aboutus" style="text-decoration: none; color: white; font-size: 24px;">About Us</a>
            <a href="{% url 'service' %}" class="service" style="text-decoration: none; color: white; font-size: 24px;">Service</a>
            <a href="{% url 'contact' %}" class="contact" style="text-decoration: none; color: white; font-size: 24px;">Contact</a>
        </div>


    </div>
    
    <div class="container">
        <div class="box">
            <h2>Diseases Treatable by Ayurveda</h2>
            <div class="disease-buttons">
                <a href="{% url 'arthritis' %}" class="button">Arthritis</a>
                <a href="{% url 'Asthma' %}" class="button">Asthma</a>
                <a href="{% url 'Diabetes' %}" class="button">Diabetes</a>
                <a href="{% url 'Hypertension' %}" class="button">Hypertension</a>
                <a href="{% url 'Digestive' %}" class="button">Digestive Disorders</a>
                <a href="{% url 'Anxiet' %}" class="button">Anxiety & Stress</a>
                <a href="{% url 'Skin' %}" class="button">Skin Disorders</a>
                <a href="{% url 'Insomnia' %}" class="button">Insomnia</a>
                <a href="{% url 'Obesity' %}" class="button">Obesity</a>
                <a href="{% url 'Allergies' %}" class="button">Allergies</a>
            </div>
        </div>
    </div>
    

    