{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">

</head>
<body>
    <div class='App'>
        <div class="nav">
            <div class="title">
                <h1 class='t1'>AGILITY</h1>
                <h1 class='t2'>ATLAS</h1>
            </div>
            <a href="{% url 'index' %}" class="home"
                style="text-decoration: none; color: white; font-size: 24px;">Home</a>
            <a href="#about" class="aboutus" style="text-decoration: none; color: white; font-size: 24px;">About Us</a>
            <a href="#service" class="service" style="text-decoration: none; color: white; font-size: 24px;">Service</a>
            <a href="#contact" class="contact" style="text-decoration: none; color: white; font-size: 24px;">Contact</a>
        </div>
        <div>
    
    <div class="p-3 m-3">
        
        <div class="col-lg-5 rounded mx-auto border pt-4">
          
            <form action="/signup" method="POST" class="form">
        
                    <h3 class="alert alert-success rounded-pill" id="cr-acc">Create an Account</h3>
                    
                {% csrf_token %}
    
                {% if error%}
                <div class="alert alert-danger" style="color: brown; text-align: center; background-color: rgb(229, 145, 145); height: 30px; padding: 5px;" role="alert">
                    {{error}}
                </div><br>
                {% endif %}
                <div class="form-det">
                <!-- firstname -->
                <div class="form-group" id="form-field">
                    <label for="" >First Name</label>
                    <br>
                    <input type="text" name="firstname"
                     id="" value="{{values.first_name}}" class="form-control form-control-sm" 
                     placeholder="">
                </div>
    <br>
                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <br>
                    <input type="text" name="lastname" 
                    id="" value="{{values.last_name}}" class="form-control form-control-sm"
                    >
                </div>
    <br>
                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <br>
                    <input type="text" name="phone" 
                    id="" class="form-control form-control-sm"
                    value="{{values.phone}}"
                    placeholder="9876543210"
                    >
                </div>
                <br>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <br>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="abc@gmail.com">
                </div>
                <br>
                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <br>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm">
                </div>
                <br>
                <p>Already have an account? <br><a href="login">login</a></p>
                <button type="submit" class="btn btn-sm btn-success col-lg-12" id="signup-btn">Create an account</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    
</body>
</html>
<div class="container mt-4">

